*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{font-size: 16px; scroll-behavior: smooth;}
.container{ width: 80%;}
#portfolio{
    background-color: #f8f9fa;;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-content>div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.portfolio-content div a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.p-item { width: 100%; position: relative;}
.p-item img{ width: 100%; height: auto;}
.p-item-desc{
    background-color: #fff;
    text-align: center;
    padding: 1.5rem;
}
.p-desc-name{
    font-weight: 600;
    font-size: 1.5rem;
    color: #111;
    margin-bottom: 0.5rem;
}
.p-item:hover .zoom{opacity: 1;}
.zoom{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 200, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity ease-in-out 0.25s;
    color: #fff;
    font-size: 3rem;
}